# Estudio de caso
Grupo 4


César Enrique Morán Fernández   --    Gloria Stella Flórez Merchán   --     Leidy Nayibe Párraga Ariza

Se presenta un dataset de nombres de peliculas con sus respetivos genero, actores principales, calificaciones, popularidad entre otros.

Se requiere integrar y tranformar los datos necesarios para poder medir el impacto que tienen los actores principales al momento de evaluar la popularidad y la calificación de la pelicula.

El estudio de caso consiste en que describa en forma detallada el proceso como llegó a medir el impacto que tienen los actores principales en el exito de una pelicula

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [34]:
df_movies = pd.read_csv("IMBD.csv")
print(f'Tamaño del dataset: {len(df_movies)}')

Tamaño del dataset: 129891

In [35]:
# visualización de una muestra de 10 peliculas
df_movies.sample(10)

,movie,genre,runtime,certificate,rating,stars,description,votes,director
108733,SK8 TV,"Reality-TV, Sport",NaN,NaN,7.9,"['Matthew Lillard, ', 'Samuel Ringoir, ', 'Ska...","The start of professional skateboarding, xgame...",38,NaN
22696,Die Schelme von Schelm,"Animation, Family, Comedy",79 min,NaN,5.0,"['Tommy J. Michaels, ', 'Ronn Carroll, ', 'Tov...",When God distributed wiseness and foolishness ...,173,['Albert Hanan Kaminski']
91992,A Southern Maid,"Drama, Musical, Romance",83 min,NaN,7.2,"['Bebe Daniels, ', 'Clifford Mollison, ', 'Nan...",A Southern Maid is a 1933 British musical film...,17,['Harry Hughes']
17172,Breadwinners,"Animation, Comedy, Family",NaN,NaN,2.7,"['Robbie Daymond, ', 'Eric Bauza, ', 'Alexande...","Two ducks fly around in a rocket-powered van, ...","3,752",NaN
97919,Hysteria,"Drama, Sci-Fi, Thriller",103 min,NaN,5.2,"['Patrick McGoohan, ', 'Amanda Plummer, ', 'Mi...",The inmates of an insane asylum are subjected ...,326,['Rene Daalder']
11505,Lost Ollie,"Animation, Adventure, Drama",45 min,UA 7+,7.8,"['Jake Johnson, ', 'Gina Rodriguez, ', 'Kesler...","A lost toy, searching across the countryside f...","1,769",NaN
85201,JIMBO: Free and Horny (RuPaul's Drag Race Seas...,Music,NaN,NaN,NaN,"['James Jimbo Insell, ', 'Manila Luzon, ', 'Ry...",Add a Plot\n,NaN,['Brad Hammer']
47054,The Show Must Go On: The Queen + Adam Lambert ...,Documentary,86 min,NaN,7.8,"['Freddie Mercury, ', 'Queen, ', 'Rami Malek, ...",A documentary chronicling Queen and Lambert's ...,"2,290",NaN
22927,Dickinson,"Biography, Comedy, Drama",30 min,A,7.7,"['Hailee Steinfeld, ', 'Adrian Enscoe, ', 'Ann...","Set in the 19th century, it explores the const...","18,141",NaN
78477,Travis Scott Feat. Drake: Sicko Mode,Music,5 min,NaN,7.6,"['Travis Scott, ', 'Drake, ', 'Dolly Gray, ', ...",Music Video for Travis Scott's Sicko Mode.,314,NaN

In [36]:
# Ingrese en la lista las columnas necesarias para el caso de estudio:
columns = ['movie', 'stars', 'rating', 'votes']

In [37]:
# Guarde el datset, con solo las columnas necesarias, ej:
# df_movies = df_movies[columns].copy()
df_movies = df_movies[columns].copy()
df_movies.sample(10)

,movie,stars,rating,votes
46845,Wilde Salomé,"['Al Pacino, ', 'Jessica Chastain, ', 'Kevin A...",6.6,993
121666,The Colorado KId,"['Bob Steele, ', 'Marion Weldon, ', 'Karl Hack...",5.9,68
9868,Gekijouban Naruto Shippuuden: Za rosuto tawâ,"['Junko Takeuchi, ', 'Chie Nakamura, ', 'Satos...",6.8,"4,062"
72789,Strangeland,"['Kevin Gage, ', 'Elizabeth Peña, ', 'Dee Snid...",5.0,$0.63M
94893,Big Love,"['Aleksandra Hamkalo, ', 'Antoni Pawlicki, ', ...",5.3,"1,054"
49322,Grand Designs: The Streets,NaN,8.6,27
68082,Sofies verden,"['Silje Storstein, ', 'Tomas von Brömssen, ', ...",6.7,108
119867,A Flame to the Phoenix,"['Benedict Taylor, ', 'Lucy Hornak, ', 'David ...",5.9,18
111481,WWE Backlash,"['Adam Copeland, ', 'Randy Orton, ', 'Drew Gal...",6.2,231
112451,Dream Job,"['Michael Magid, ', 'Kit Hoover, ', 'Stuart Sc...",6.9,25

### Imports
Librerias base que se necesitan, puede incluir más de ser necesario

## Descarga de dataset
Tomado de Kaggle: [TV & Movie Metadata with Genres and Ratings (2023)](https://www.kaggle.com/datasets/gayu14/tv-and-movie-metadata-with-genres-and-ratings-imbd)\
Alojado en datalake Bucket de S3 de AWS

Primero que todo identifique las columnas que nos interesan para el estudio de caso.
- Recuerde que para medir el impacto que tienen los actores en el exito de la pelicula nos vamos a basar en la popularidad y la calificación.

In [38]:
# Descripción del dataframe
df_movies.describe(include='all')

               movie              stars         rating   votes
count         129891             124676  114381.000000  114393
unique        115988             120278            NaN   18664
top     Royal Rumble  ['Mel Blanc', '']            NaN      10
freq              22                 51            NaN     667
mean             NaN                NaN       6.521429     NaN
std              NaN                NaN       1.334240     NaN
min              NaN                NaN       1.000000     NaN
25%              NaN                NaN       5.800000     NaN
50%              NaN                NaN       6.700000     NaN
75%              NaN                NaN       7.400000     NaN
max              NaN                NaN      10.000000     NaN

### Elimine datos faltantes
Con la ayuda de la función DataFrame.dropna elimine los valores NAN, no nos interesan las peliculas que tienen datos faltantes en nuestrtas columnas importantes

In [39]:
df_movies = df_movies.dropna()

## Tipos de datos

In [40]:
df_movies.dtypes

movie      object
stars      object
rating    float64
votes      object
dtype: object

La cantidad de votos de la pelicula nos mide la popularidad parece que ademas de ser de tipo str la separación de la coma esta mal en algunos casos, deberia ser de tipo int, procese la columna 'votes' para eliminar la coma y que ademas sea de tipo int.

La calificación ya esta de tipo numerico (float64), por lo que no tenemos que hacerle nada

In [41]:
#Ej para eliminar texto indeseado:
#df['column_name'] = df_movies['column_name'].str.replace('texto','')
#Ej para pasar a entero una columna tipo obj:
#df['column_name'] = df_movies['column_name'].astype(int)
#Pasará a int si el obj solo tiene números, de lo contrario se generará error
df_movies['votes'] = df_movies['votes'].str.replace('[,,$,M]', '', regex=True)
df_movies['votes'] = df_movies['votes'].astype(float)

Los actores principalesles se encuentran en la columna star, ajuste la columna para que solo quede el primero de la lista (Comunmente el primero es el protagonista)

In [42]:
#Evalua el texto y lo entiende como una lista
#df['column_name'] = df_movies['columns_name'].apply(eval)
#Toma el primer elemento de la lista, lo aplica para todas las filas
#df['column_name'] = df_movies['columns_name'].apply(lambda x: x[0])
df_movies['stars'] = df_movies['stars'].str.replace(',','')
df_movies['stars'] = df_movies['stars'].apply(lambda x: eval(x)[0] if isinstance(x, str) else x)
df_movies.sample(5)

,movie,stars,rating,votes
47690,The Royal Mob,Josie Dunn Evan Milton Mark Edel-Hunt Phoebe M...,8.3,62.0
100626,The Big Red Bastard,Ella Anderson Sheldon Bailey Cooper Barnes Liz...,8.2,52.0
124001,Whistling Hills,Johnny Mack Brown James Ellison Noel Neill I. ...,6.6,41.0
73126,Shookum Hills,Alicia Sanz Adan Canto Will Patton Zach Avery,4.3,5174.0
47174,Perfect Bid: The Contestant Who Knew Too Much,Theodore Slauson Roger Dobkowitz Bob Barker Br...,6.5,3114.0

Un ejemplo de cómo debería quedar el DataFrame es:

|movie            |stars    |   rating | votes    |
|----------------:|:--------|---------:|:---------|
| The Witcher                                 | Henry Cavill | 8.1 | 539085 |
| Mission: Impossible - Dead Reckoning Part One | Tom Cruise,| 8.0 | 106759 |
| Sound of Freedom                              | Jim Caviezel | 7.9 | 41808 |
| Secret Invasion                           | Samuel L. Jackson| 6.2 | 40536 |

Revise las distrfibuciones de la cantidad de votos, pueden haber valores atipivos, si los hay eliminelos.

## Agrupamiento por actor principal

Con la ayuda de la función DataFrame.groupby.agg agrupe el dataframe por actor principal y saque el número de peliculas del actor, el valor promedio de calificaciones y el valor promedio de votos.

Ordene de forma (Auyda de la función DataFrame.sort_values) descendente el rating promedio y luego por el número de votos promedio y luego por el número de peliculas

Saque sus propias conclusiones

In [47]:
df_stars = df_movies.groupby('stars', as_index=False).agg({'movie':'count', 'rating':'mean', 'votes':'mean'})

In [48]:
# Ordenando descendente por número de peliculas
df_stars.sort_values('movie', ascending=False).head(10)

,stars,movie,rating,votes
69170,Mel Blanc,51,7.192157,1342.843137
76209,Nobuyo Ôyama Noriko Ohara Michiko Nomura Kanet...,19,6.894737,462.736842
73487,Murray Cook Jeff Fatt Anthony Field Greg Page,18,7.738889,84.611111
82624,Ray Corrigan John 'Dusty' King Max Terhune Elmer,15,6.006667,78.800000
9102,BTS j-hope Jimin Jin,15,8.613333,279.100667
87792,Roy Rogers Trigger George 'Gabby' Hayes Dale E...,14,6.092857,199.857143
23328,David Attenborough,14,8.657143,5720.857143
69173,Mel Blanc Arthur Q. Bryan,12,7.566667,2825.083333
32958,Frank Welker Mindy Cohn Grey Griffin Matthew L...,11,6.854545,4546.363636
32932,Frank Welker Casey Kasem Mindy Cohn Grey Griffin,11,6.572727,4547.000000