## Estudio de caso
Se presenta un dataset de nombres de peliculas con sus respetivos genero, actores principales, calificaciones, popularidad entre otros.

Se requiere integrar y tranformar los datos necesarios para poder medir el impacto que tienen los actores principales al momento de evaluar la popularidad y la calificación de la pelicula.

El estudio de caso consiste en que describa en forma detallada el proceso como llegó a medir el impacto que tienen los actores principales en el exito de una pelicula

### Imports
Librerias base que se necesitan, puede incluir más de ser necesario

In [2]:
import pandas as pd

## Descarga de dataset
Tomado de Kaggle: [TV & Movie Metadata with Genres and Ratings (2023)](https://www.kaggle.com/datasets/gayu14/tv-and-movie-metadata-with-genres-and-ratings-imbd)\
Alojado en datalake Bucket de S3 de AWS

In [ ]:
df_movies = pd.read_csv('https://uniminuto-data.s3.amazonaws.com/IMBD.csv')
print(f'Tamaño del dataset: {len(df_movies)}')

In [ ]:
# visualización de una muestra de 5 peliculas
df_movies.sample(5)

Primero que todo identifique las columnas que nos interesan para el estudio de caso.
- Recuerde que para medir el impacto que tienen los actores en el exito de la pelicula nos vamos a basar en la popularidad y la calificación.

In [5]:
# Ingrese en la lista las columnas necesarias para el caso de estudio:
columns = ['movie', 'stars', 'rating', 'votes']

In [ ]:
# Guarde el datset, con solo las columnas necesarias, ej:
# df_movies = df_movies[columns].copy()
df_movies = df_movies[columns].copy()
df_movies.sample(5)

In [ ]:
# Descripción del dataframe
df_movies.describe(include='all')

### Elimine datos faltantes
Con la ayuda de la función DataFrame.dropna elimine los valores NAN, no nos interesan las peliculas que tienen datos faltantes en nuestrtas columnas importantes

In [ ]:
df_movies = # Digite el codigo aca

## Tipos de datos

In [ ]:
df_movies.dtypes

La cantidad de votos de la pelicula nos mide la popularidad parece que ademas de ser de tipo str la separación de la coma esta mal en algunos casos, deberia ser de tipo int, procese la columna 'votes' para eliminar la coma y que ademas sea de tipo int.

La calificación ya esta de tipo numerico (float64), por lo que no tenemos que hacerle nada

In [ ]:
#Ej para eliminar texto indeseado:
#df['column_name'] = df_movies['column_name'].str.replace('texto','')
#Ej para pasar a entero una columna tipo obj:
#df['column_name'] = df_movies['column_name'].astype(int)
#Pasará a int si el obj solo tiene números, de lo contrario se generará error

df_movies['votes'] = # Digite el cidigo aquí. Puede ser mas de una linea de código.

Los actores principalesles se encuentran en la columna star, ajuste la columna para que solo quede el primero de la lista (Comunmente el primero es el protagonista)

In [ ]:
#Evalua el texto y lo entiende como una lista
#df['column_name'] = df_movies['columns_name'].apply(eval)
#Toma el primer elemento de la lista, lo aplica para todas las filas
#df['column_name'] = df_movies['columns_name'].apply(lambda x: x[0])
df_movies['star'] = # Digite el cidigo aquí. Puede ser mas de una linea de código.

Un ejemplo de cómo debería quedar el DataFrame es:

|movie            |stars    |   rating | votes    |
|----------------:|:--------|---------:|:---------|
| The Witcher                                 | Henry Cavill | 8.1 | 539085 |
| Mission: Impossible - Dead Reckoning Part One | Tom Cruise,| 8.0 | 106759 |
| Sound of Freedom                              | Jim Caviezel | 7.9 | 41808 |
| Secret Invasion                           | Samuel L. Jackson| 6.2 | 40536 |

Revise las distrfibuciones de la cantidad de votos, pueden haber valores atipivos, si los hay eliminelos.

## Agrupamiento por actor principal

Con la ayuda de la función DataFrame.groupby.agg agrupe el dataframe por actor principal y saque el número de peliculas del actor, el valor promedio de calificaciones y el valor promedio de votos.

Ordene de forma (Auyda de la función DataFrame.sort_values) descendente el rating promedio y luego por el número de votos promedio y luego por el número de peliculas

Saque sus propias conclusiones

In [25]:
df_stars = df_movies.groupby('stars', as_index=False).agg({'movie':'count', 'rating':'mean', 'votes':'mean'})

In [ ]:
# Ordenando descendente por número de peliculas
df_stars.sort_values('movie', ascending=False).head(10)